<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>




</head>
<body>

<div class="container">
	<div class="row">
		<div class="text-danger col-sm-12 text-center">
			<h1><%= movieData.title %></h1>
		</div>

		<div class="col-sm-6 col-sm-offset-3">
			<form id="search-form" class="form-inline" action="/search" method="post">
				<input type="text" placeholder="Movie Title" name="searchString"/>
				<button type="submit" class="btn btn-primary">Search</button>
			</form>
		</div>

		<div class="col-sm-12 movies">
				<div class="col-sm-6">
					<img id="single-poster" src="<%= imageBaseUrl + movieData.poster_path%>">
				</div>	
				<div class="col-sm-6">
					<% for (let i = 0; i < movieData.genres.length; i++){ %>
				
						<%= movieData.genres[i].name%>
				
					<% } %>
					<h3> Storyline </h3>
					<div class="overview"><%=movieData.overview%></div>
					<h3> Cast </h3>
					<div class="cast-list">
						<% for (let i = 0; i < 5; i++) {%>
							<p><%=castData.cast[i].name%></p>
						<%}%>
						
					</div> 



				

				</div>

		</div>
	</div>
</div>

</body>
</html>